@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap");

.btn,
.jumbotron,
.nav :hover {
	border-radius: 0px;
}

:root {
	--navbg: #323031;
	--logo: #ffd300;
	--categorydivbg: #0e7490;
	--categorybtnbg: #084c61;
	--card-detailsbg: #e0f2fe;
	--add-to-cartbtn: #f0f9ff;
	--bad-review-flag: #ef4444;
	--avg-review-flag: #f59e0b;
	--good-review-flag: #84cc16;
	--primary: #111827;
	--white: #ffffff;
	--footerbg: #084c61;
	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
}

body {
	/* background: #ffffff; */
	margin: 0;
	font-family: "Nunito", sans-serif;
}

.navdiv {
	background-color: var(--navbg);
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.nav-item {
	border-radius: 8px;
}
.nav-item span {
	border-radius: 8px;
	overflow: hidden;
}
.navbar-brand {
	font-size: 27px;
	font-weight: bold;
	color: var(--logo);
}
.navbar-brand:hover {
	color: #ffffff;
}
.categories {
	background-color: var(--categorydivbg);
}
.categories li {
	background-color: var(--categorybtnbg);
	display: inline-flex;
}

.categorypanel {
	height: 3rem;
}
.prodcard {
	background-color: var(--add-to-cartbtn);
	height: 450px;
	border-radius: 3px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.prodcard p {
	font-weight: 700;
}
.prodcard h5 {
	color: #fb923c;
	font-size: 1.3rem;
	font-weight: 700;
}
.cardinfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
}
.addbtn {
	background-color: var(--card-detailsbg);
	border-radius: 7px;

	border: 3px solid var(--footerbg);

	color: var(--footerbg);
	font-weight: 900;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	/* align-items: center;
	margin: auto; */
}
.card-img {
	object-fit: cover;
	/* height: 250px; */
	width: 100%;
}
.footer {
	background-color: #084c61;
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
}

.base {
	background-color: #ffffff;
}

.incdecbtn {
	border: 3px solid var(--footerbg);
	font-weight: 500;
	font-size: 1.2rem;
}
.cartcard {
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	background-color: var(--add-to-cartbtn);
}

.footer h6 {
	color: var(--white);
}
.footer svg:hover {
	color: var(--logo);
}
.footer h4 {
	color: var(--logo);
}
.footer h3 {
	color: var(--logo);
}

.flexdiv {
	display: flex;
	justify-content: center;
}
.carttotal {
	background-color: var(--categorydivbg);
	padding: 2rem 5rem;
	margin-top: 2rem;
	color: #ffffff;
	font-size: large;
	border-radius: 1rem;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.signin {
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	/* background-color: #f1f5f9; */
}

.signinbtn {
	color: white;
	background-color: #0e7490;
	font-size: 20px;
	border-radius: 7px;
	padding-top: "15px";
	padding-bottom: "15px";
	padding-left: "15px";
	padding-right: "15px";
}
.signinbtn:hover {
	color: var(--logo);
}

.signin > .card-header {
	color: var(--logo);
	background-color: var(--categorydivbg);
}

.adminlist li {
	box-shadow: 3px 3px 5px rgba(47, 111, 206, 0.4);
}
.adminlistcolor {
	color: var(--categorybtnbg);
	font-weight: 800;
}
.adminlist h5 {
	color: brown;
	font-weight: bold;
}
.adminaddcard {
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	background-color: #f0f1a3;
}
.adminaddcard h4 {
	font-weight: 600;
}
.adminmanagecard {
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.adminmanagecard li {
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	background-color: #f0f1a3;
	margin: 5px 5px;
}

/* section */
.section {
	width: 90vw;
	margin: 0 auto;
	max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
	.section {
		width: 95vw;
	}
}

/*
=============== 
Menu
===============
*/

.menu {
	padding: 5rem 0;
}

/* menu */

.section-center {
	width: 90vw;
	margin: 0 auto;
	max-width: 1170px;
	display: grid;
	gap: 3rem 2rem;
	justify-items: center;
}
.menu-item {
	display: grid;
	gap: 1rem 2rem;
	max-width: 25rem;

	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	padding: 1rem;
	background-color: var(--white);
}
.photo {
	object-fit: cover;
	height: 200px;
	width: 100%;
	border: 0.15rem solid var(--logo);
	border-radius: var(--radius);
	display: block;
}

.item-info header {
	display: flex;
	justify-content: space-between;
	border-bottom: 0.15rem solid var(--categorydivbg);
}
.item-info h4 {
	margin-bottom: 0.5rem;
}
.price {
	color: var(--categorybtnbg);
	font-weight: bold;
}
.item-text {
	margin-bottom: 0;
	padding-top: 1rem;
	font-weight: bold;
	color: #6b7280;
}
.item-info .name {
	color: var(--categorybtnbg);
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	.menu-item {
		grid-template-columns: 225px 1fr;
		gap: 0 1.25rem;
		max-width: 40rem;
		min-width: 40rem;
	}
	.photo {
		height: 175px;
	}
}
@media screen and (min-width: 1200px) {
	.section-center {
		width: 95vw;
		grid-template-columns: 1fr 1fr;
	}
	.menu-item {
		min-width: 37rem;
		border-radius: 1rem;
	}
	.photo {
		height: 200px;
	}
}

/* category panel */

.scroller {
	background-color: var(--categorybtnbg);
	overflow: auto;
	white-space: nowrap;
	padding-top: 10px;
	padding-bottom: 10px;
}
.scroller::-webkit-scrollbar {
	display: none;
}
.scroller a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 900;
}
.catlink {
	/* color: var(--logo);
	font-weight: 500; */
	text-decoration: none;
	background-color: var(--card-detailsbg);
	padding: 0.4rem;
	border-radius: 10px;
}
.catlink:hover {
	color: var(--categorybtnbg);
}
